<nav>
    <div class="logo-container">
        <div><img class="logo-nav" src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png" alt="logo">
        <p class="nom">tikok</p>
        </div>
    </div>
    <div>
        
    </div>
</nav>