<div class="search-placeholder">
   <input type="search" id="search-bar" name="q"
       aria-label="Search through site content" placeholder="filter" >
    <button id="search-button"><i class="fas fa-search"></i></button>
</div>
