<div class="search-placeholder">
    <form id="search-form" action="/shopping/search">
   <input type="search" id="search-bar" name="q"
       aria-label="Search through site content" placeholder="filter" >
    <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
    </form>
</div>
