  <header class="dashboard-header">
    <nav class="navbar">
        <div class="logoandtext">
              <img class="coqimg" alt="imgcoq" src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png">
            <a href="/myshop/login" class="tikoktext"> Seller Login </a>
        </div>
        <div class="navtext">
      <ul class="navlist">
        <li><a href="/shopping/login"> Customer Login</a></li>
      </ul>
      </div>
    </nav>
  </header>