  <header class="dashboard-header">
    <nav class="navbar">
        <div class="logoandtext">
            <img src="/coq.png" alt="imgcoq" class="coqimg">
            <p class="tikoktext">Seller Login</p>
        </div>
        <div class="navtext">
      <ul class="navlist">
        <li><a href="/"> Customer Login</a></li>
      </ul>
      </div>
    </nav>
  </header>