<div class="big-container">
  <header class="header">
    <nav class="nav-wrapper flexed-item">
      <div class="nav-link-wrapper flexed-item">
        <div class="nav-logo">
          <a href="/myshop/login" class="flexed-item">
            <span class="logo-item circle"></span>
            <h2 class="sellerLogin">Seller Login</h2>
          </a>
        </div>
        <ul class="nav-link flexed-item">
          <li class="nav-item animated-link">
            <a href="/shopping/login">Customer Login</a>
          </li>
    </nav>
  </header>
</div>