.block {
    width: 40vh;
    height: 40vh;
    background-color: white;
    border:1px solid grey;
    box-shadow: 10px 5px 5px grey;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    grid-gap: 2vh;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.infos-placeholder {
/* background-color: indigo; */
width: 100%;
font-size: 10Vh;
padding: 2%
}
.infos-placeholder   *{
font-size: 2.3Vh;
}
