.block {
    width: 40vh;
    height: 40vh;
    background-color: white;
    border:1px solid grey;
    box-shadow: 2px 2px 2px grey;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
    grid-gap: 2vh;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.infos-placeholder {
/* background-color: indigo; */
width: 100%;
font-size: 10Vh;
padding: 2%
}
.infos-placeholder   *{
font-size: 2.3Vh;
}

.crud-btn {
    height: 4vh;
    width: 10vh;
    border-radius: 20px;
    margin: 2vh;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.placeholder-button{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 3vh;
    bottom: 0;
}
.delete-btn {
    background-color: tomato;
}
.edit-btn {
    background-color: teal;
}