@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
body {
  padding: 0;
  margin: 0;
  color: rgb(29, 28, 28);
}
body * {
  padding: 0;
  margin: 0;
  font: 1em;
  font-family: 'Muli', sans-serif;
  

}

a {
  color: none;
  text-decoration: none;
}
.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

.add-picture {
  width: 20vh;
  height: 20vh;
  background-image: url(../decouvrir-fruits-tropicaux-martinique.jpg);
}

.input-image {
    width: 20vh;
    height: 20vh;
    opacity: 0;
  }

.input-image:checked + div {
    background: #000
}

/* Flash messages */
.success {
  width: 24vh;
  height: 8vh;
  border: solid 1px black;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Flash messages */
.error {
  width: 24vh;
  height: 8vh;
  border: solid 1px black;
  background-color: red;
  border-radius: 2vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash {
  height: 40vw;;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 20vh;
}

.avatar {
  width: 20vh;
  height: 20vh;
}

.titleandimage {
  display: flex;
}

.shelvesandorders {
  width: 100vh;
  display: flex;
  justify-content: space-between;
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.avatar {
  border-radius: 10vh;
}

.titledashboard {
  font-size: 12vh;
}


.allfirstblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

}

.gotomy {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-radius: 30px;
  width: 40vh;
  height: 20vh;
  /* background-color:rgba(255,99,71,0.5); */
  background-color: rgb(5, 110, 93);
  font-size: 20px;
}

.shelvesandorders a {
  color:white;
}

.shelvesandorders a:hover {
  text-decoration: underline;
}

/* login seller */

.tout {
	display: flex;
	justify-content: center;
	align-items: center;
  align-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5vh;
}

.form-title {
  font-size: 8vh;
}

.inputlogin {
  height: .1rem;
  /* border-radius: 30px; */
  border : none;
  border-bottom : 2px solid rgb(202, 73, 50);
  background-color: white;
  width: 35em;
  padding: 4%;
  color: black;
  font-size: 2vh;
}

.formlogin {
  width: 100%;
}
.inputlogin::placeholder {
  color: grey;
}

.form-item-wrapper{
  width: 100%;
  /* height: min-content; */
  margin: 1%;
  /* display: flex; */
  /* justify-content: center;
  align-items: baseline; */
}

.label {
  margin-right: 2%;
}

.input::placeholder {
  color: white;
  font-size: 2vh;
}

.btnlogin {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.submit-button {
  border-radius: 50px;
  height: 9vh;
  width: 25vh;
  color: tomato;
  font-size: 3vh;
  padding: 2%;
  margin-top: 1%;
}

.submit-button:hover {
  background-color: tomato;
  color: white
}


.form-sub-infos {
  font-size: 3vh;
}

.button-link-form {
  font-size: 2vh;
}





/* sign up seller

.signupform {
  /* margin-top: 10vh; */


.form-info {
  font-size: 4vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.formform {
    width: 100%;
    /* height: min-content; */
    margin: 1%;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.inputsignup {
  height: .1rem;
  /* border-radius: 30px; */
  border : none;
  border-bottom : 2px solid rgb(202, 73, 50);
  background-color: white;
  width: 35em;
  padding: 4%;
  color: black;
  font-size: 2vh;

}

.inputsignup::placeholder {
  color: grey;
}

.btnlogin2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.submit-button2 {
  border-radius: 50px;
  height: 9vh;
  width: 40vh;
  color: tomato;
  font-size: 3vh;
  padding: 2%;
  margin-top: 1%;
}

.submit-button2:hover {
  color: white;
  background-color: tomato;
}


/*home page */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* shops products */

.shopname {
  font-size: 10vw;
}

/* shops products description */

.btnorder {
  width: 20vh;
  height: 10vh;
  color: white;
  border: 1px solid tomato;
  color: tomato;
}

.btnorder:hover {
  background-color: tomato;
  border: 1px solid black;
  color: white;
}

.nadap {
  display: flex;
}

.priceofproduct {
  margin-left: 27vh;
}

#search-bar {
  width: 45vw;
  height: 50px;
  background-color: rgb(5, 110, 93);
  border-radius: 50px;
  margin-top: 10vh;
  color: whitesmoke;
  padding-left: 4vh;
  font-size: 2.5vh
}

#search-bar::placeholder {
  color: beige;
  font-size: 2.5vh;
}

#search-button {
  background-color: rgb(5, 110, 93);
  border: none;
  font-size: 1.2em;
  color: white;
  position: absolute;
  bottom: 0.8em;
  right: 2em;
}

.search-placeholder{
  position: relative;
  height: max-content;
}
/* dashboard seller */

.dashboard-header {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  /* display: flex; */
  /* justify-content: space-between;  */
  width: 100%;
  /* background-color: rgb(20, 175, 175);  */
  border-radius: 0vh 0vh 0vh 0vh; 
  /* background-image: url('/beach2.png'); */
  background-color: rgb(5, 110, 93);
  background-size: cover;
  height: 8vh;
  border-bottom: 4px solid white;

}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  align-content: center; 
  height: 8vh;

  /* flex-direction: column; */
}

.coqimg {
  width: 6vh;
  height: 5vh;
  margin-left: 1vh;
}


.logoandtext {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}


.logoandtext:hover {
text-decoration: underline;
}

.tikoktext {
  font-size: 3vh;
  color: white;
  margin-left: 3vh;
}
/* 
.navtext {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
 


.navlist {
    /* display: flex;
    justify-content: center;
    align-items: center;
    align-content: center; */
    font-size: 3vh;
 }
 

.navlist li { 
    display: inline; 
    margin-right: 3vh; 
    padding: 0 2vh;
    font-size: 3vh;
 }

 .navlist li:hover {
   text-decoration: underline;
   color: white;
 }

 .navlist a {
  text-decoration: none;
  color: white;
}

#common-header {
  height: 30vh;
  position: relative;
}
.common-header {
  background-color: rgb(5, 110, 93);
}

#common-header-logo {
  height: 30vh;
  position : absolute;
  bottom: -5.1vh;
  right: 15vh;
}

.display-location {
  width: 100%;
  height: 400px;
}

/* Header drawing */

#drawingHolder {
  background-image: url('https://res.cloudinary.com/dyvosdvps/image/upload/v1581595867/tikok-pictures/drawingWhite_cp1xro.png');
  /* option in black https://res.cloudinary.com/dyvosdvps/image/upload/v1581595716/tikok-pictures/drawingBlack_hkcsff.png */
  background-color: rgb(5, 110, 93);
  width: 100vw;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  /* margin-top: 1vh; */
  top: 10%;
  background-position: 50% 75%;
  padding-top: 10px;
}

#sBigHolder {
  display: flex;
  /* padding-top: 1%; */
}

/* Shop page while shopping */
#sShopImg {
  height: auto; 
  width: 22vw; 
  /* border-radius: 25vh; */
}

#sTitleHolder {
  position: absolute;
  top: 70%;
}

.grid-container {
  padding-top: 35vh;
}

/* create item */


/* #product-image {
  border-radius: .5em;
  position: relative;
}
#product-image:hover {
  filter: blur(2px)
}

.circle-add-image {
  left: calc(50% - 5vh);
  top: calc(50% - 5vh);
  border: 1px solid white;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle-add-image .fa-plus {
  font-size: 4vh ;
  color: black;
}

.everything {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
} */

.everything {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.imageandplus {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}


.image-upload {
  position: relative;
}
#product-image {
  border-radius: .5em;
}
#product-image:hover {
  filter: blur(2px)
}

.circle-add-image {
  position: absolute;
  left: calc(50% - 5vh);
  top: calc(50% - 5vh);
  border: 1px solid white;
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.circle-add-image .fa-plus {
  font-size: 4vh ;
  color: white;
}

.product-descr {
  height: .1rem;
  /* border-radius: 30px; */
  border : none;
  border-bottom : 2px solid black;
  background-color: white;
  width: 20em;
  padding: 4%;
  color: black;
  font-size: 2vh;
}

.titletoadd {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Start page */

.sStartNav {
  display: flex;
  flex-direction: row;
}

#sStartBody {
/* 
  background:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('/bg.jpg');
  background-size: cover;
  background-repeat:no-repeat; */
}
#sStartBackground::before {
  background-image: url('/tropicalFruit.jpg');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  }

#sPicCover {
  width: 100%;
  height: 91.9vh;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.356);
  /* opacity: 0.58; */
}

#startButtonHolder {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 25%;
}

#startContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#startMission {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.616);
  background-color: white;
  opacity: 1;
  z-index: 1;
  display: flex;
  font-size: 2vh;
}
