body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-picture {
  width: 20vh;
  height: 20vh;
  background-image: url(../decouvrir-fruits-tropicaux-martinique.jpg);
}

.input-image {
    width: 20vh;
    height: 20vh;
    opacity: 0;
  }

.input-image:checked + div {
    background: #000
}
