<header class="dashboard-header">
<nav class="navbar">
<div class="logoandtext">
{{!-- <img src="/coq.png" alt="imgcoq" class="coqimg"> --}}

<p class="tikoktext">tikok</p>
<img class="coqimg" alt="imgcoq"
src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png">
</div>
<div class="navtext">
<ul class="navlist">
<li><a href="/"> Home </a></li>
<li><a href="/myshop/dashboard/{{shop.id}}"> My Dashboard </a></li>
<li><a href="/"> Log Out</a></li>
</ul>
</div>
</nav>
</header>


<div class="everything">


<div class="imageandplus">
<div class="image-upload image-container">
{{!-- <div for="file-input"> --}}
<img id="product-image" src={{shop.image}} width="200">
<div class="circle-add-image">
<i class="fas fa-plus"></i>
</div>
</div>
</div>

<div class="big-container product-manage-wrapper flexed-item">
<form action="/myshop/create-item/{{shop.id}}" method="post" class="add-product-form"
enctype="multiparty/form-data">
<div class="titletoadd">
<h3 class="form-title">Ajouter un produit</h3>
</div>
<br>
<div class="form-item-wrapper flexed-item">
<label for="category" name="category" class="label-name label">Category</label>
<select name="category" id="Products" class="select">


<option value="-1" name="category" disabled selected>Choose a category</option>
<option value="fruits" name="category">Fruits</option>
<option value="vegetables" name="cagetory">Vegetables</option>
<option value="fishes & seafood" name="category">Fishes and Seafood</option>
<option value="meats" name="category">Meats</option>
<option value="artisan goods" name="category">Artisan Goods</option>
<option value="growcery" name="category">Growcery</option>
<option value="other" name="category">Other</option>

</select>

</div>

<div class="form-item-wrapper flexed-item">
<label for="name" class="label-ref label">Nom</label>
<input id="name" name="name" type="name" class="inputlogin" placeholder="ex: Pomme" required>
</div>
<div class="form-item-wrapper flexed-item">
<label for="price" class="label-ref label">Prix</label>
<input id="price" name="price" type="price" class="inputlogin" placeholder="ex: 2" required>
</div>
<br>
<div class="form-item-wrapper flexed-item">
<label for="description" class="label-ref label">Description</label>
<input id="description" name="description" type="description" class="inputlogin" placeholder="Golden">
</div>

<br>

<div class="btnlogin">
<button class="submit-button">Ajouter</button>
</div>

<br>
</form>

</div>

</div>