<h1>{{shop.name}}</h1>

<form action="/myShop/createShop/:id" method="post">
<div>
    <label for="description">Description</label>
    <input name="description" id="description" placeholder="Tell us more about your shop...">
</div>
<div>
    <label for="address">Address</label>
    <input name="address" id="address" placeholder="Where is your shop ?">
</div>
<div>
    <label for="address">Address</label>
    <input name="address" id="address" placeholder="Where is your shop ?">
</div>

<button type="submit">Submit infos</button>
</form>