  <header class="dashboard-header">
    <nav class="navbar">
        <div class="logoandtext">
            <img src="/coq.png" alt="imgcoq" class="coqimg">
            <p class="tikoktext">tikok</p>
        </div>
        <div class="navtext">
      <ul class="navlist">
        <li><a href=""> My Products </a></li>
        <li><a href=""> My Orders</a></li>
        <li><a href="/logout"> log out </a></li>
      </ul>
      </div>
    </nav>

  </header>

<div class="dash">

    <div class="titleandimage">
    <h1 class="title">{{shop.name}}</h1>

    <p id="dashboard-intro"> 
        <img class="avatar" src="{{shop.image}}" alt="user avatar">
    </p>
    </div>
    <div class="shelvesandorders">
        <a href="/myshop/myshelves/{{shop._id}}" class="gotomy">My Shelves</a>


        <a href="/myshop/myorders/{{shop._id}}" class="gotomy"> My Orders</a>
    </div>
</div>

