<div class="dash">

    <div class="titleandimage">
    <h1 class="title">{{shop.name}}</h1>

    <p id="dashboard-intro"> 
        <img class="avatar" src="{{shop.image}}" alt="user avatar">
    </p>
    </div>
    <div class="shelvesandorders">
        <a href="/myshop/myshelves/{{shop._id}}" class="gotomy">My Shelves</a>


        <a href="/myshop/myorders/{{shop._id}}" class="gotomy"> My Orders</a>
    </div>
</div>

