  <header class="dashboard-header">
    <nav class="navbar">
        <div class="logoandtext">
            {{!-- <img src="/coq.png" alt="imgcoq" class="coqimg"> --}}

            <p class="tikoktext">tikok</p>
                        <img class="coqimg" alt="imgcoq" src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png">
        </div>
        <div class="navtext">
      <ul class="navlist">
        <li><a href="/"> Home </a></li>
      </ul>
      </div>
    </nav>
  </header>