<div class="signupform">
<section class="sign form-container">
  <header class="form-header">
    <h1 class="form-title">Sign Up</h1>
  </header>
  <br>
 
  <form method="post" action="/myshop/signup" id="form_seller">
  <h2 class="form-info">About your shop</h2>
    <div class="formform">
      <label for="name" class="lbl">Shop Name</label>
      <input id="name" name="name" type="text" class="input" placeholder="Passion">
    </div>
    <br>
    <h2 class="form-info">About you</h2>
    <div class="formform">
      <label for="username" class="lbl">Name</label>
      <input id="username" name="username" type="text" class="input" placeholder="Jean">
    </div>
    <div class="formform">
      <label for="email" class="lbl">Email</label>
      <input id="email" name="email" type="email" class="input" placeholder="jean.desmoulins@gmail.com">
    </div>
    <div class="formform">
      <label for="password" class="lbl">Password</label>
      <input id="password" name="password" type="password" class="input" placeholder="••••••">
    </div>
    <div class="btnlogin">
    <button class="submit-button">Create Shop</button>
  </form>
  </div>
<br>
  {{> flashMessage }}

  <p class="form-sub-infos">Already have an account ? <a href="/myshop/login" class="button-link-form">Sign In</a></p>
</section>
</div>
