<div class="signupform">
<section class="sign form-container">
  <header class="form-header">
    <h1 class="form-title">Sign Up</h1>
  </header>
  <br>
 
  <form method="post" action="/shopping/signup" id="form_seller">
    <div class="formform">
      <label for="username" class="lbl">Nom</label>
      <input id="username" name="username" type="text" class="inputsignup" placeholder="Jean">
    </div>
    <div class="formform">
      <label for="email" class="lbl">Email</label>
      <input id="email" name="email" type="email" class="inputsignup" placeholder="jean.desmoulins@gmail.com">
    </div>
    <div class="formform">
      <label for="password" class="lbl">Mot de passe</label>
      <input id="password" name="password" type="password" class="inputsignup" placeholder="••••••">
    </div>
    <div class="btnlogin">
    <button class="submit-button">Créez votre boutique</button>
  </form>
  </div>
<br>
  {{> flashMessage }}

  <p class="form-sub-infos">Vous avez déja un compte ? <a href="/customer/login" class="button-link-form">Se connecter</a></p>
</section>
</div>