<header class="dashboard-header">
  <nav class="navbar">
    <div class="logoandtext">
      {{!-- <img src="/coq.png" alt="imgcoq" class="coqimg"> --}}

      <p class="tikoktext">tikok</p>
      <img class="coqimg" alt="imgcoq"
        src="https://res.cloudinary.com/dyvosdvps/image/upload/v1581546572/tikok-pictures/Sans_titre_1_b7shu3.png">
    </div>
    <div class="navtext">
      <ul class="navlist">
        <li><a href="/home"> Home </a></li>
        <li><a href="/shopping/signup"> Créez un compte</a></li>
      </ul>
    </div>
  </nav>
</header>


<div class="signupform">
<section class="sign form-container">
  <header class="form-header">
    <h1 class="form-title">Créez un compte</h1>
  </header>
  <br>
 <br>
  <form method="post" action="/shopping/signup" id="form_seller">
    <div class="formform">
      <label for="username" class="lbl">Nom</label>
      <input id="username" name="username" type="text" class="inputsignup" placeholder="Jean">
    </div>
    <div class="formform">
      <label for="email" class="lbl">Email</label>
      <input id="email" name="email" type="email" class="inputsignup" placeholder="jean.desmoulins@gmail.com">
    </div>
    <div class="formform">
      <label for="password" class="lbl">Mot de passe</label>
      <input id="password" name="password" type="password" class="inputsignup" placeholder="••••••">
    </div>
    <div class="btnlogin">
    <button class="submit-button">Créez votre boutique</button>
  </form>
  </div>
<br>
  {{> flashMessage }}

  <p class="form-sub-infos">Vous avez déja un compte ? <a href="/shopping/login" class="button-link-form">Se connecter</a></p>
</section>
</div>