{{!-- {{>navBarCustomer}} --}}
<header id="header-home">
    <div class="header-background">
    <h1 id="title">tikok</h1>
    </div>
    {{>searchBar}}
</header>
<section id="main-home">
    <div class="display-categories">
        <h2>Categories</h2>
        <a href="/shopping/fruits"><div id="fruits-block" class="category-block">Fruits</div></a>
        <a href="/shopping/vegetables"><div id="vegetables-block" class="category-block">Vegetables</div></a>
        <a href="/shopping/fishes"><div id="fishes-block" class="category-block">Fishes & Seafood</div></a>
        <a href="/shopping/meats"><div id="meats-block" class="category-block">Meats</div></a>
        <a href="/shopping/growcery"><div id="growcery" class="category-block">Growcery</div></a>
        <a href="/shopping/artisan"><div id="artisan goods" class="category-block">Artisan goods</div></a>
        <a href="/shopping/other"><div id="other-block" class="category-block">Other</div></a>
    </div>
    <div id="someShops">
    <h2>Some Shops</h2>
        {{#each sixShops}}
        <div>
            <img class="image-shop"alt="shop" src="{{this.image}}" width="300">
            <h3>{{this.name}}</h3>
            <p class="description">{{this.description}}</p>
        </div>
        {{/each}}
    </div>
</section>

