{{!-- {{>navBarCustomer}} --}}
<header id="header-home">
    <div class="header-background">
    <h1 id="title">tikok</h1>
    </div>
    {{>searchBar}}
</header>
<section id="main-home">
        <h2>Categories</h2>
    <div class="display-categories">
        <a href="/shopping/fruits"><div id="fruits-block" class="category-block">Fruits</div></a>
        <a href="/shopping/vegetables"><div id="vegetables-block" class="category-block">Vegetables</div></a>
        <a href="/shopping/fishes"><div id="fishes-block" class="category-block">Fishes & Seafood</div></a>
        <a href="/shopping/meats"><div id="meats-block" class="category-block">Meats</div></a>
        <a href="/shopping/grocery"><div id="grocery-block" class="category-block">Grocery</div></a>
        <a href="/shopping/artisan"><div id="artisan goods" class="category-block">Artisan goods</div></a>
        <a href="/shopping/other"><div id="other-block" class="category-block">Other</div></a>
    </div>
    <div id="shops">
    <h2>Some Shops</h2>
    <div id="someShops">
        {{#each sixShops}}
        <a href="/shopping/shop/{{this.id}}">
        <div class="shop-block">
            <img class="image-shop"alt="shop" src="{{this.image}}" width="300">
            <h3>{{this.name}}</h3>
            <p class="description">{{this.description}}</p>
        </div>
        </a>
        {{/each}}
    </div>
    </div>
</section>

